$color:rgba(34, 36, 66, 1);

body{
    background-color:$color;
    //禁用文字选中
    user-select: none;
}

img{
    //禁止图片拖动
    -webkit-user-drag: none;
} 

.demo-logo-vertical{
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,0.3);
}

.HomeBtn{
    position: absolute;
    top: 32px;
    right: 30px;
    transform: translateY(-50%);
}